#myCanvasBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid black; 
    z-index: -1;
}

#myCanvas1{
    border: 1px solid black; 
    position: absolute; 
    top: 300px;
}

.inputs1{
    position: absolute;
    top: 0;
    left: 150px;
    text-align: center;
    padding: 20px;
    border: 1px solid black;
    width: 400px;
}

/* .inputs1 h2{
    float: right;
    margin-left: 30px;
} */

.inputs1 div button{
    width: 150px;
}

#myCanvas2{
    border: 1px solid black; 
    position: absolute;
}

.inputs2{
    position: absolute;
    top: 0;
    left: 650px; 
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}

.inputs2 div button{
    width: 100px;
}

.manageRemovingDrawing{
    position: absolute;
    top: 0;
    left: 1050px; 
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}

/* toogle switch */
.label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #394a56;
  }
  
  .label-text {
    margin-left: 16px;
  }
  
  .toggle {
    isolation: isolate;
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow:
      -8px -4px 8px 0px #ffffff,
      8px 4px 12px 0px #d1d9e6,
      4px 4px 4px 0px #d1d9e6 inset,
      -4px -4px 4px 0px #ffffff inset;
  }
  
  .toggle-state {
    display: none;
  }
  
  .indicator {
    height: 100%;
    width: 200%;
    background: #ecf0f3;
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    box-shadow:
      -8px -4px 8px 0px #ffffff,
      8px 4px 12px 0px #d1d9e6;
  }
  
  .toggle-state:checked ~ .indicator {
    transform: translate3d(25%, 0, 0);
  }

