#myCanvas1{
    border: 1px solid black; 
    position: absolute; 
    top: 200px;
}

.inputs1{
    position: absolute;
    top: 30px;
    left: 150px;
}

.inputs1 h2{
    float: right;
    margin-left: 30px;
}

#myCanvas2{
    border: 1px solid black; 
    position: absolute; 
    top: 200px;
    left: 800px;
}

.inputs2{
    position: absolute;
    top: 30px;
    left: 350px;
}

