
body{
    height: 5000px;
    background-color: #4d4e4d;
}

h1{
    position: fixed;
    color: white;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    animation: h1-animation 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  
    animation-fill-mode: both;
}

h3 {
    position: fixed;
    color: white;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-200%);

    animation: h3-animation 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  
    animation-fill-mode: both;
}

.background {
    position: fixed;
    z-index: -1;
    background-repeat: repeat-x;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 1200px;
    height: auto;

    animation: image-animation 1s ease-in;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  
    animation-fill-mode: both;
}

p {
    position: fixed;
    color: white;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);

    animation: p-animation 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
  
    animation-fill-mode: both;
}

.line{
    height: 10000px;
    width: 1200px;
    position: fixed;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    border-right-style: solid;
    border-left-style: solid;
}

@keyframes h3-animation {
    100%{
        top: 190px;
        font-size: 30px;
    }
  }

  @keyframes h1-animation {
    100%{
        top: 80px;
        font-size: 50px;
    }
  }

  @keyframes p-animation { 

    50% {
        top: 280px;
        width: 600px;
        transform: translateX(-50px) rotate(20deg);
    }

      100%{
        top: 180px;
        width: 500px;
      }
  }

  @keyframes image-animation {
    80%{
        
        width: 75px;
        height: auto;
        transform: translateX(-200px);
        top: 10px; 
    }
    85%{
        top: 40px; 
    }
    90%{
        top: 15px; 
    }
    92%{
        top: 35px; 
    }
    94%{
        top: 18px; 
    }
    96%{
        top: 30px; 
    }
    98%{
        top: 22px; 
    }
    100%{
        width: 75px;
        height: auto;
        transform: translateX(-200px);
        top: 25px; 
    }
  }

